.row-poster {
    width: 100%;
    object-fit: contain;
    max-height: 100px;
  transition: transform 450ms;
  cursor: pointer;
}
.row-posters{
    display: flex;
    overflow-y: hidden;
    overflow-x: auto;
    padding: 20px;
}

.row-poster::-webkit-scrollbar{
    display: none;
}

.row-poster:hover{
    transform: scale(1.08);
}
.row-poster:hover {
  transform: scale(1.08);
}

.row-posterLarge{
    max-height: 50px;
}

.row-posterLarge:hover {
  transform: scale(1.12);
}
.heading2{
    font-size: 24px;
    font-weight:400; 

}