body, html {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}


.row-poster {
    width: 100%;
    object-fit: contain;
    max-height: 100px;
  transition: transform 450ms;
  cursor: pointer;
}
.row-posters{
    display: flex;
    overflow-y: hidden;
    overflow-x: scroll;
    padding: 20px;
}

.row-posters::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Edge */
}

.row-poster:hover{
    transform: scale(1.08);
}

.row-posterLarge{
    max-height: 200px;
}

.row-posterLarge:hover {
  transform: scale(1.12);
}
.heading2{
    font-size: 24px;
    font-weight:400; 

}