.header-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 60px;
  background-color: #101010;
  z-index: 1000;
}

/* LEFT LIST */
.icons-list-left {
  list-style: none;
  gap: 15px;
  margin: 0;
  padding: 0;
}

.icons-list-left li {
  color: white;
  cursor: pointer;
}

/* RIGHT ICONS */
.icons-list {
  list-style: none;
  gap: 15px;
  margin: 0;
  padding: 0;
  margin-right: 10px;
}

.icons-list li {
  color: white;
  font-size: 24px;
  
  cursor: pointer;
}
