.header-wrapper {  
  width: 100vw;               
  background-color: #101010;     
  height: 60px;                
  padding: 0 20px;             
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  display: flex;   
  justify-content: space-between;            
  align-items: center;         
}


.left-wrapper img{
    height: 60px;
    width: 200px;
}
