.header-wrapper {
  position: sticky;
  top: 0;
  left: 0;
  width: 100vw;
  height: 70px;
  background-color: transparent;
  transition: all 0.4s ease-in;
  z-index: 1000;
}

.header-black {
  background-color: #101010;
}


/* LEFT LIST */
.icons-list-left {
  list-style: none;
  font-size: 13px;
  gap: 16px;
  margin: 0;
  padding: 0;
}

.icons-list-left li {
  color: white;
  cursor: pointer;
}

/* RIGHT ICONS */
.icons-list {
  list-style: none;
  gap: 15px;
  margin: 0;
  padding: 0;
  margin-right: 15px;
}

.icons-list li {
  color: white;
  font-size: 24px;
  cursor: pointer;
}
