
/* API-KEY=26037251f5b06c970d0e7d9893f4064f */
body{
    background-color: #111111;
     color: #fff;
    
}

/* *{
    padding: 0;
    margin: 0;
}
.image-wrapper img{
    width: 200px;
    height: 200px;
    margin: 20px 10px;
} */