.banner-wrapper {
  height: 500px;
  color: white;
  object-fit: contain;
  width: 100%;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;

  position: relative;
}

.content-wrapper {
  padding-top: 140px;
  margin-left: 30px;
  height: 190px;
  width: 10%;
}

.button-wrapper button {
  cursor: pointer;
  color: #fff;
  outline: none;
  border: none;
  font-weight: 700;
  border-radius: 0.2vw;
  padding: 0.5rem 2rem;
  margin-right: 1rem;
  margin-top: 10px;
  margin-bottom: 10px;
  background-color: rgba(51, 51, 51, 0.5);
}

.button-wrapper button:hover {
  background-color: #e6e6e6;
  color: black;
  transition: all 0.2s;
}

.banner_fade {
  height: 7.4rem;
  background-image: linear-gradient(
    180deg,
    transparent,
    rgba(37,37,37,0.61),
    #111
  );
  position: absolute;
  bottom: 0;
  width: 100%;
}
